# This is an empty config file
# Feel free to put something here

default_profile = "binlog";

test_dc1 = {
  config_directory = ".telegram/test_dc1";
  test = true;
  msg_num = true;
};

binlog = {
  config_directory = ".telegram/binlog";
  test = false;
  msg_num = true;
  log_level = 2;
};

binlog_mts = {
  config_directory = ".telegram/binlog_mts";
  test = false;
  msg_num = true;
  log_level = 2;
};

mega = {
  config_directory = ".telegram/mega";
  test = false;
  msg_num = true;
  log_level = 2;
};

new = {
  config_directory = ".telegram/new";
  test = false;
  msg_num = true;
};

production = {
  config_directory = ".telegram/production";
  test = false;
  msg_num = true;
};

test = {
  config_directory = ".telegram/test";
  test = true;
  msg_num = true;
};

test1 = {
  config_directory = ".telegram/test1";
  msg_num = true;
};

test2 = {
  config_directory = ".telegram/test2";
  msg_num = true;
  pfs_enabled = true;
};

